/* General styles and set defaults */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --pinkyred: hsl(0, 36%, 70%);
    --brightred: hsl(0, 93%, 68%);
    --dark: hsl(0, 6%, 24%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;


    --grad1: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --grad2: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
}


/* Development and debugging only */


body {
    border: 1px green solid;
}

body>* {
    opacity: .8;
}

xbody::after {
    position: absolute;
    content: "";
    top: 0;

    width: 100%;
    height: 100%;
    bottom: 0;
    background: url("./design/mobile-design.jpg");
    background-repeat: no-repeat;
    animation: myflicker infinite alternate 2s;
}

@keyframes myflicker {
    from {
        opacity: .5;
    }

    to {
        opacity: .7;
    }
}

main {
    background-color: white;


}




/* Basic structure of page is:
container (flexbox row) containing leftsection and rightsection.
leftsection has logo, mobileimage and text
rightsection has desktopimage
media query on mobile makes rightsection invisible; on desktop then the mobileimage is hidden
*/


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.leftsection {
    flex: 0 0 50%;
    background: moccasin;

}

.rightsection {
    flex: 0 0 50%;

}


/* Logo section */
.header {
    width: 100%;
    height: calc(84rem/16);
    content: "";
}

.logo {
    margin: 31px 0 0 32px;
    background: url("./images/logo.svg");
    background-repeat: no-repeat;
    height: 100px;
    content: "";
    background-size: 100px 21px;
}

.mobilewrapper {
    display:none;
    width: 100vw;
    height: 80px;
    border: 2px red solid;


}

.mobileimage {
 display:none;
    background: url("./images/hero-mobile.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    content: "";
    padding-bottom: 90%;
}






.desktopimage {
    background: url("./images/hero-desktop.jpg");

    height: 100vh;
    width: 100%;
    content: "";
}

@media (max-width:600px) {
 
    .desktopimage {
        display: none;
    }

    .rightsection {
        flex: 0 1 0px;
    }

    .leftsection {
        flex: 1 1 auto;
    }



    .mobilewrapper, .mobileimage{
        display:block;
    }
}